/* Style the container */
.food-item-table {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Style the table headers */
th {
  background-color: #3498db;
  color: #fff;
  text-align: left;
  padding: 15px;
  font-weight: bold;
  border-bottom: 2px solid #2980b9;
}

/* Style the table rows */
td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

/* Style alternate rows with a background color */
tbody tr:nth-child(even) {
  background-color: #ecf0f1;
}

/* Style the total amount column */
td:nth-child(3) {
  text-align: left;
}

/* Chart styles */
.bar-chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bar-chart-container {
  margin: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Responsive table styles for small screens */
@media (max-width: 600px) {
  th,
  td {
    font-size: 14px;
    text-align: center;
  }

  /* Hide the table header on smaller screens */
  th {
    display: none;
  }
}

/* Most Selling Product styles */
.most-selling-product {
  margin-top: 20px;
  padding: 1rem;
  background-color: #2ecc71;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.most-selling-product h3 {
  margin: 0;
}
.most-selling-product-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  margin:  0rem 1rem;
}
/* Additional styles for the container */
.food-item-table h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}
