@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@300&family=Ubuntu:wght@300&display=swap");


.navbar {
  display: flex;
  justify-content: flex-start;
  padding: 15px 0;
  position: relative;
  background-color: rgb(132, 246, 236);
  font-family: "Poppins", sans-serif;
  height: 4%;
}


.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5% 0;
}

.link {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 25px;
  color: black;
  font-weight: 400;
  margin: 10px 0;
}

.logOut{
  justify-content: flex-end;
}


.btn {
  background: #ff2a2a;
  color: white;
  border-radius: 5px;
  padding: 10px 40px;
  border: none;
  position: absolute;
  right: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 10px;
  font-size: 20px; 
  margin-top: -7px;
}

.link:hover {
  color: black;
}

.cart-no {
  background: #ff2a2a;
  padding: 2px 10px;
  border-radius: 100%;
  color: white;
  font-size: 17px;
  font-weight: bold;
}

.navbarshow{
  justify-content: center; 
  flex-wrap: wrap; 
  flex-direction: column;
}

.nav-itemsshow{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {

  .navbar {
    padding:3vh;
    flex-wrap: wrap; 
    flex-direction: column;
  }

  .nav-items{
    display: none;
  }

  .hamburger-menu {
    display: block;
    position: absolute;
    right: 15px;
    margin-top: -1vh;
  }

  .link {
    font-size: 20px; 
    padding: 10px 15px; 
    margin: 5px 10px; 
  }
  .btn {
    padding: 5px 15px; 
    position: relative;
    font-size: 20px; 
  }
}
