/* Global styles for the page */
.welcome-page {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../../../../public/welcome.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
  }
  
  /* Styles for the welcome message */
  .welcome-message {
    background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Styles for the admin name */
  .admin-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Styles for additional content or buttons */
  /* Add your styles here for any additional content or buttons you want to include */
  